    .EmployeeList {
        width: 300px;
        background-image: linear-gradient(90deg, rgb(177, 107, 180), white); 
        margin: 100px;
        padding: 10px;
        border: 4px solid;
        border-radius: 200px;
        box-shadow: 6px 5px 10px;
        text-align: center;
    }
    
    .EmployeeList img {
        width: 90px;
        height: 90px;
        border: 1px solid;
        border-radius: 10px;
        vertical-align: middle;
    }
    
    .EmployeeList>div:last-child { margin-left: auto; }
